<div class="h-full flex items-center justify-center">
  <form class="form-base" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 class="text-3xl my-4 font-bold w-max dark:text-white">
      Sign in to platform
    </h1>
    <app-auth-control
      formControlName="emailOrPhoneNumber"
      inputType="email"
      [isError]="
        loginForm.get('emailOrPhoneNumber')?.touched &&
        loginForm.get('emailOrPhoneNumber')?.invalid
      "
      labelMsg="Mobile Number or Email"
      placeholderMsg="name@company.com"
      errorMsg="Please enter a valid email address or phone number."
    ></app-auth-control>
    <app-auth-control
      formControlName="password"
      inputType="password"
      [isError]="
        loginForm.get('password')?.touched && loginForm.get('password')?.invalid
      "
      labelMsg="Your password"
      placeholderMsg="Password"
      errorMsg="Please enter a password that is at least 8 characters and no more than 32 characters."
    ></app-auth-control>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 gap-y-4 justify-items-center sm:justify-items-start"
    >
      <div class="flex items-center">
        <input
          formControlName="remember"
          id="default-checkbox"
          type="checkbox"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:border-blue-500 outline-blue-500 dark:bg-gray-700 dark:border-gray-600"
        />
        <label
          for="default-checkbox"
          class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-300 font-poppins"
          >Remember me</label
        >
      </div>
      <a class="sm:justify-self-end text-sm order-1 sm:order-none">
        Forgot Password?
      </a>

      <app-blue-button [isSubmit]="true" [valid]="loginForm.valid">
        <app-loading-spinner *ngIf="isLoading">Loading...</app-loading-spinner>
        <span *ngIf="!isLoading">Login to your account</span>
      </app-blue-button>

      <p
        class="col-span-1 sm:col-span-2 text-sm text-gray-900 dark:text-white mt-4 order-2 sm:order-none"
      >
        Don't have an account?
        <a
          routerLink="/signup"
          class="cursor-pointer text-blue-500 hover:text-blue-600"
        >
        
          Sign up
        </a>
      </p>
    </div>
  </form>
</div>
