<form
  class="flex flex-col gap-y-4 items-center sm:items-stretch dark:bg-slate-900"
  [formGroup]="registerForm"
>
  <h1 class="text-3xl mb-6 font-bold w-max dark:text-white">
    Create your account
  </h1>
  <app-auth-control
    formControlName="emailOrPhoneNumber"
    inputType="email"
    [isError]="
      registerForm.get('emailOrPhoneNumber')?.touched &&
      registerForm.get('emailOrPhoneNumber')?.invalid
    "
    labelMsg="Mobile Number or Email"
    placeholderMsg="name@company.com"
    errorMsg="Please enter a valid email address or phone number."
  ></app-auth-control>
  <app-auth-control
    formControlName="password"
    inputType="password"
    [isError]="
      registerForm.get('password')?.touched &&
      registerForm.get('password')?.invalid
    "
    labelMsg="Your password"
    placeholderMsg="Password"
    errorMsg="Please enter a password that is at least 8 characters and no more than 32 characters."
  ></app-auth-control>

  <button
    type="submit"
    [disabled]="registerForm.invalid"
    class="w-fit mt-2 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:bg-blue-300 dark:disabled:bg-blue-300 transition-colors"
  >
    Create new account
  </button>

  <!-- {{ registerForm.value | json }} -->
</form>
